@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-center align-items-center " style="height: 50vh; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    <div class="text-center">
        <h1>
            Organize suas tarefas de forma simples <img src="/check_12901779.png" style="width: 30px; height: auto"/>
        </h1>
        <h5>Faça o seu cadastro e comece agora mesmo -> <a href="/Account/Register" class="btn btn-outline-success">Registre-se aqui</a></h5>
    </div>
</div>
